.black-background{
    position:absolute;
    border-radius: 375px 0px 0px 375px;
    background: #C4C4C4;
    width: 945px;
    height: 750px;
    flex-shrink: 0;
    margin-left: 971px;
    margin-top: -74px;
    animation: slideIn 2s ease-in-out forwards;
  }

  @keyframes slideIn {
    from {
      left: 500px; 
    }
    to {
      left: 0; 
    }
  }

  @keyframes slideFrom {
    from {
      right: 200px; 
    }
    to {
      right: 0; 
    }
  }  

  .page-4{
    margin-top: 200px;
  }

  .page-4 p{
    color: #F16214;
    font-family: 'Product Sans', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 900px;
    margin-top: 197px;
  }

  .page-4 h4{
    color: #000;
    font-family: 'Product Sans', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 720px;
    margin-top: 10px;
  }

  .food-bill-registration{
    margin-top: 30px;
    width: 162.194px;
    height: 45px;
    flex-shrink: 0;
    margin-left: 375px;
  }

  .sushi{
    position: absolute;
    width: 1063.314px;
    height: 850.966px;
    flex-shrink: 0;
    margin-left: 683px;
    animation: slideIn 2s ease-in-out forwards;
  }

  .salad{
    margin-left: 1403px;
    margin-top: 615px;
    position: absolute;
    animation: slideIn 1s ease-in-out forwards;
  }

  h3{
    color: #000;
    font-family: 'Product Sans',sans-serif;;
    font-size: 75px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 141px;
    margin-left: 375px;
  }

  .menu{
    margin-top: 60px;
    margin-left: 300px;
    display: grid;
    grid-template-columns: 370px 370px 370px;
    grid-template-rows: 370px 370px 370px 370px 370px;
    grid-column-gap: 30px;
    grid-row-gap: 80px;
  }

  .menu-list{
    width: 370px;
    height: 419px;
    flex-shrink: 0;
    border-radius: 50px 0px 50px 0;
    background: #FFF;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.07);
  }

  .menu-list img{
    width: 370px;
    height: 274px;
    flex-shrink: 0;
    border-radius: 50px 0px 0px 0px;
  }

  .menu-list h6{
    color: #000;
    font-family: 'Product Sans', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 14px;
    margin-left: 19px;
  }

  .menu-list button{
    outline: none;
    border: none;
    width: 100px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #F16214;
    margin-left: 20px;
    color: #FFF;
    font-family: 'Product Sans', sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
    animation: pulse 2s infinite;
  }

  @keyframes pulse {
    0% {
      box-shadow: 0 0 0 0 #fd762d;
    }
    75% {
      box-shadow: 0 0 0 10px transparent;
    }
  }

  .menu-list button:hover{
    background: white;
    border: 1.5px solid white;
    color: #F16214;
  }  

  .menu-list p{
    color: #000;
    font-family: 'Product Sans',sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    margin-left: 304px;
    position: absolute;
    margin-top: -50px;
  }

  body{
    max-width: 1500px;
    padding: 0px;
    margin: 0px auto;
  }

  @media(max-width: 1440px) {
    body{
      max-width: 1024px;
    }
  }

  @media(max-width: 1024px){
    body{
      max-width: 768px;
    }
  }

  @media(max-width: 768px){
    body{
      max-width: 360px;
    }
  }

  @media(max-width: 360px){
    body{
      max-width: 100px;
    }
  }